---
include:
  - project: 'rahome/gitlab-ci-templates'
    ref: main
    file:
      - '/templates/Docker.gitlab-ci.yml'
      - '/templates/Rust.gitlab-ci.yml'
      - '/templates/Yaml.gitlab-ci.yml'
  - project: 'rahome/trivy-cache'
    ref: main
    file:
      - '/Trivy.gitlab-ci.yml'

build:cli:
  stage: build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'
  needs: []
  extends:
    - .rust-build
  artifacts:
    paths:
      - ./target
    expire_in: 2 hours

build:docker:
  stage: build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
  needs:
    - job: build:cli
  extends:
    - .docker-registry
  variables:
    DOCKER_TAG_PREFIX: 'cli-'
    DOCKER_FILE: 'docker/cli/Dockerfile'

test:cli:
  stage: test
  extends:
    - .rust-test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'
  needs: []

test:docker:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH'
  extends:
    - .docker-lint

test:trivy:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  needs:
    - job: registry:cli
      optional: true
      artifacts: false
  extends:
    - .trivy
  allow_failure: true
  variables:
    DOCKER_TAG_PREFIX: 'cli-'

test:yaml:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH'
  extends:
    - .yaml-lint
