---
stages:
  - lint
  - build
  - test
  - registry

include:
  - project: 'rahome/gitlab-ci-templates'
    ref: main
    file:
      - '/templates/Docker.gitlab-ci.yml'
      - '/templates/Rust.gitlab-ci.yml'
      - '/templates/Yaml.gitlab-ci.yml'

# stage: lint

lint:yaml:
  stage: lint
  extends:
    - .yaml-lint

lint:docker:
  stage: lint
  extends:
    - .docker-lint

# stage: build

build:cli:
  stage: build
  extends:
    - .rust-build
  needs: []
  artifacts:
    paths:
      - ./target
    expire_in: 2 hours

# stage: test

test:cli:
  stage: test
  extends:
    - .rust-test
  needs: []

# stage: registry

registry:cli:
  stage: registry
  extends:
    - .docker-registry
  only:
    - main
  needs:
    - job: build:cli
    - job: test:cli
      artifacts: false
  variables:
    DOCKER_TAG_PREFIX: 'cli-'
    DOCKER_FILE: 'docker/cli/Dockerfile'
