stages:
  - build
  - test

.in-gradle-environment:
  image: gradle:6.5.1-jdk8
  tags:
    - docker

build:
  stage: build
  extends:
    - .in-gradle-environment
  script:
    - gradle clean assemble
  artifacts:
    paths:
      - build/libs/*.jar

test:
  stage: test
  extends:
    - .in-gradle-environment
  script:
    - gradle test printCoverage
