stages:
  - lint
  - build
  - test

.in-gradle-environment:
  image: gradle:6.5.1-jdk8
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
  variables:
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  tags:
    - docker

lint:
  stage: lint
  extends:
    - .in-gradle-environment
  script:
    - gradle detekt

build:
  stage: build
  extends:
    - .in-gradle-environment
  script:
    - gradle --build-cache assemble shadowJar
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
  artifacts:
    paths:
      - build/libs/*.jar

test:
  stage: test
  extends:
    - .in-gradle-environment
  script:
    - gradle test printCoverage
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle
