stages:
  - lint
  - build
  - test
  - registry

.in-gradle-environment:
  image: gradle:6.5.1-jdk8
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
  variables:
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  tags:
    - docker

lint:linker:
  stage: lint
  extends:
    - .in-gradle-environment
  script:
    - gradle detekt

build:linker:
  stage: build
  extends:
    - .in-gradle-environment
  script:
    - gradle --build-cache assemble shadowJar
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
  artifacts:
    paths:
      - build/libs/*.jar

test:linker:
  stage: test
  extends:
    - .in-gradle-environment
  script:
    - gradle test printCoverage
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle

registry:linker:
  stage: registry
  image: docker:stable
  services:
    - docker:stable-dind
  before_script:
    - mkdir -p /root/.docker
    - echo "${$CI_REGISTRY_PASSWORD}" > /root/.docker/ci-password
    - echo "${DOCKER_HUB_REGISTRY_PASSWORD}" > /root/.docker/hub-password
  script:
    - cat /root/.docker/ci-password | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:latest --tag $DOCKER_HUB_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
    - cat /root/.docker/hub-password | docker login -u $DOCKER_HUB_REGISTRY_USER --password-stdin $DOCKER_HUB_REGISTRY
    - docker push $DOCKER_HUB_REGISTRY_IMAGE:latest
  after_script:
    - rm -rf /root/.docker
  only:
    - main
  dependencies:
    - build:linker
  tags:
    - docker-cli
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
