---
# yamllint disable rule:line-length
.docker-registry:
  image: docker:stable
  services:
    - docker:stable-dind
  before_script:
    - mkdir -p /root/.docker
    - echo "${DOCKER_REGISTRY_PASSWORD}" | docker login -u "${DOCKER_REGISTRY_USER}" --password-stdin "${DOCKER_REGISTRY}"
  script: |
    docker pull "${DOCKER_REGISTRY_IMAGE}:latest" || true
    docker build --cache-from "${DOCKER_REGISTRY_IMAGE}:latest" --tag "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_SHA}" "${DOCKER_PATH}"
    docker tag "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_SHA}" "${DOCKER_REGISTRY_IMAGE}:latest"
    docker push "${DOCKER_REGISTRY_IMAGE}:latest"
    if [ -n "${CI_COMMIT_TAG}" ]; then
      docker tag "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_SHA}" "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
      docker push "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
    fi;
  after_script:
    - docker logout "${DOCKER_REGISTRY}"
    - rm -rf /root/.docker
  tags:
    - docker-cli
  variables:
    DOCKER_REGISTRY: "${CI_REGISTRY}"
    DOCKER_REGISTRY_USER: "${CI_REGISTRY_USER}"
    DOCKER_REGISTRY_PASSWORD: "${CI_REGISTRY_PASSWORD}"
    DOCKER_REGISTRY_IMAGE: "${CI_REGISTRY_IMAGE}"
    DOCKER_PATH: "."
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
# yamllint enable rule:line-length
